*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: auto;
}

.container{
  width: 100vw;
  height: 50vh;
  border: 2px solid;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;

}

.main-div{
  width: 400px;
  height: 150px;
  border-radius: 20px;
  background-color: indianred;
}


.toggle-div{
  width: 200px;
  height: 150px;
  border-radius: 20px;
  background-color: rgb(207, 62, 62);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ON{
  background-color: lightgreen;
  transform: translate(100%);
}
.OFF{
  background-color: lightcoral;
}