*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
    background-image: linear-gradient(-20deg, #025159 0%, #733b36 100%) ;
    min-height: 100vh;
    background-size: cover;
    font-size: 20px;
    letter-spacing: 0.8px;
    color: #d8e9ef;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 70vh;
    min-width: 50%;
    /* border: 1px solid; */
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

h1{
    
    margin: 0 auto 10px auto;
}

p{
    margin: 0;
}

.app-message{
    height: 20px;
    margin: 0 auto 20px auto;
}

.app-circle{
    position: relative;
    /* border: 2px solid; */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

.circle-shape{
    pointer-events: none;
    /* text-align: center; */
}

.semi-circle{
    position: absolute;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: solid 6px;
}

.left-side{
    top: 0;
    left: 0;
    transform-origin: right center;
    transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none ;
    z-index: 1;

}
.right-side{
    top: 0;
    left: 100px;
    transform-origin: left center;
    transform: rotate(0deg);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
}

.circle {
    border-color: #bf5239;
  }
  
  .circle-mask {
    border-color: #e85a71;
  }

  .btn-start{
    position: relative;
    top: 50px;
    font-size: 80%;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    outline: none;
    background: lightgreen;
    /* color: #d8e9ef; */
    letter-spacing: 1px;
    border-radius: 10px;
  }

  .btn-start:hover{
    cursor: pointer;
    /* color: #90c0d1; */
    background-color: #bf5239;
  }

.app-counter-box{
    font-size: 250%;
    position: relative;
    top: 50px;
    color: #d8e9ef;
}

.clicked{
    background-color: gray;
}